$primary-color: #3b51a8;
$secondary-color: #d79960;
$ternary-color: #ebf5ff;

$black-color: #000;
$medium-black-color: #414141;
$light-black-color: #585858;

$white-color: #fff;
$light-gray-color: rgb(165, 162, 162);
